<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Folder Upload utility</title>
</head>

<body>
    <div class="container mt-5">
        <div class="alert alert-danger error" style="display: none;">
            <%= error %>
        </div>
        <div class="alert alert-info info" style="display: none;">
            <%= info %>
        </div>
        <h1 class="mb-4"> Hello <%= username %>
        </h1>
        <div>
            <h2> Create a new folder: </h2>
            <form action="/folders" method="post">
                <div class="form-group">
                    <label for="foldername">Folder name:</label>
                    <input type="text" id="foldername" name="foldername" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary"> Create folder</button>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const errorDiv = document.querySelector('.error');
            const errorText = "<%= error %>";

            if (errorText.trim() !== "") {
                errorDiv.textContent = errorText;
                errorDiv.style.display = "block";
            }
        });
        // JavaScript code to show info message dynamically
        document.addEventListener('DOMContentLoaded', function () {
            const infoDiv = document.querySelector('.info');
            const infoText = "<%= info %>";

            if (infoText.trim() !== "") {
                infoDiv.textContent = infoText;
                infoDiv.style.display = "block";
            }
        });
    </script>
</body>

</html>